doctype html
html
	include meta
//- head
//- 	include meta
body
	.alertPop
		.sub 請旋轉ipad橫著使用 
	.videoPop.hide
		.sub
			.clozBtn
			video#video(controls,autoplay,width='100%',height='100%')

				
	.mainContainer.channel_0

		.menu 
			.m_1.mBtn
			.m_2.mBtn
			.m_3.mBtn
			.m_4.mBtn
		.page.p0
			.subContainer
				.vBtn.v_1.vl1
				.vBtn.v_2.vl1
				.vBtn.v_3.vl1
				.vBtn.v_4.vl2
				.vBtn.v_5.vl2
				.vBtn.v_6.vl2
				.vBtn.v_7.vl3
				.vBtn.v_8.vl3
				.vBtn.v_9.vl3
		.page.p1
			.homeBtn
	

			

	.loadPicWrap(style='display:none')
		//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
